[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "==1.85"
numpy = "==2.0.*"
pandas = "==2.2.*"
python-dateutil = "==2.9.*"
pytz = "==2025.2"
six = "==1.17.*"
tzdata = "==2025.2"
plotly = "==5.24.*"

[dev-packages]
asttokens = "==3.0.*"
attrs = "==25.3.*"
babel = "==2.17.*"
backrefs = "==5.8.*"
beautifulsoup4 = "==4.13.*"
biopython = "==1.85.*"
black = "==25.1.*"
bleach = "==6.2.*"
certifi = "==2025.1.*"
cfgv = "==3.4.*"
charset-normalizer = "==3.4.*"
click = "==8.1.*"
colorama = "==0.4.*"
comm = "==0.2.*"
coverage = "==7.8.*"
debugpy = "==1.8.*"
decorator = "==5.2.*"
defusedxml = "==0.7.*"
distlib = "==0.3.*"
exceptiongroup = "==1.2.*"
executing = "==2.2.*"
fastjsonschema = "==2.21.*"
filelock = "==3.18.*"
ghp-import = "==2.1.*"
griffe = "==1.7.*"
identify = "==2.6.*"
idna = "==3.10.*"
importlib-metadata = "==8.6.*"
iniconfig = "==2.1.*"
ipykernel = "==6.29.*"
ipython = "==8.18.*"
jedi = "==0.19.*"
jinja2 = "==3.1.*"
jsonschema = "==4.23.*"
jsonschema-specifications = "==2024.10.*"
jupyter-client = "==8.6.*"
jupyter-core = "==5.7.*"
jupyterlab-pygments = "==0.3.*"
jupytext = "==1.17.*"
markdown = "==3.8.*"
markdown-it-py = "==3.0.*"
markupsafe = "==3.0.*"
mdit-py-plugins = "==0.4.*"
mdurl = "==0.1.*"
mergedeep = "==1.3.*"
mistune = "==3.1.*"
mkdocs = "==1.6.*"
mkdocs-autorefs = "==1.4.*"
mkdocs-get-deps = "==0.2.*"
mkdocs-jupyter = "==0.25.*"
mkdocs-material = "==9.6.*"
mkdocs-material-extensions = "==1.3.*"
mkdocstrings = "==0.29.*"
mkdocstrings-python = "==1.16.*"
mypy-extensions = "==1.0.*"
nbclient = "==0.10.*"
nbconvert = "==7.16.*"
nbformat = "==5.10.*"
nest-asyncio = "==1.6.*"
nodeenv = "==1.9.*"
numpy = "==2.0.*"
packaging = "==24.2.*"
paginate = "==0.5.*"
pandas = "==2.2.*"
pandocfilters = "==1.5.*"
parso = "==0.8.*"
pathspec = "==0.12.*"
pexpect = "==4.9.*"
platformdirs = "==4.3.*"
pluggy = "==1.5.*"
pre-commit = "==4.2.*"
prompt-toolkit = "==3.0.*"
psutil = "==7.0.*"
ptyprocess = "==0.7.*"
pure-eval = "==0.2.*"
pygenomeviz = "==1.5.*"
pygments = "==2.19.*"
pymdown-extensions = "==10.14.*"
pytest = "==8.3.*"
pytest-cov = "==6.1.*"
python-dateutil = "==2.9.*"
pytz = "==2025.2.*"
pyyaml = "==6.0.*"
pyyaml-env-tag = "==0.1.*"
pyzmq = "==26.4.*"
referencing = "==0.36.*"
requests = "==2.32.*"
rpds-py = "==0.24.*"
ruff = "==0.11.*"
six = "==1.17.*"
soupsieve = "==2.6.*"
stack-data = "==0.6.*"
tinycss2 = "==1.4.*"
tomli = "==2.2.*"
tornado = "==6.4.*"
traitlets = "==5.14.*"
typing-extensions = "==4.13.*"
tzdata = "==2025.2.*"
urllib3 = "==2.4.*"
virtualenv = "==20.30.*"
watchdog = "==6.0.*"
wcwidth = "==0.2.*"
webencodings = "==0.5.*"
zipp = "==3.21.*"

[requires]
python_version = "3.12"
